/samples
/__pycache__
/test.py
/AuxIVA
/root
/DirectivityPatterns
/Dropbox
/haarcascade
/New Microsoft Access Database.accdb
/'New Microsoft Access Database.accdb'
/Video
/temp_video.avi
/DirectivityPatterns
